/******************************
コリスさんの記事を参考にHTML5Doctorをカスタムした感じです。
ご意見いただけましたら嬉しく思います。
( ･ω･)ノ
I referred these.
https://coliss.com/articles/build-websites/operation/css/a-modern-css-reset.html
https://coliss.com/articles/build-websites/operation/css/my-css-reset-by-ire.html
http://html5doctor.com/html-5-reset-stylesheet/
https://bitsofco.de/my-css-reset-base/
https://hankchizljaw.com/wrote/a-modern-css-reset/
******************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

article,aside,footer,header,nav,section,main {
  display: block;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-feature-settings: "palt" 1;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
}


a,
a:visited {
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* フォーム */
input,
button,
textarea,
select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input,
select {
  vertical-align: middle;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
